<web-app>
   <!-- General description of your Web application -->
   <display-name>
      CNT 4714 Fall 2022 JSP-Servlet-App Example
   </display-name>
   <description>
      This is the Web application in which we 
      will demonstrate our first servlet example.
   </description>
<!-- Servlet definitions -->
   <servlet>
      <servlet-name>WSXR</servlet-name>
      <description>
         A simple servlet that handles an HTTP get request.
      </description>
      <servlet-class>
         WelcomeServletSession
      </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>WSXR</servlet-name>
      <url-pattern>/welcomesession</url-pattern>
   </servlet-mapping>
</web-app>

